<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        Copyrights &copy; <%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>. All Rights Reserved. The blog cover that pops up on clicking "About" is adapted from Dustin O'Halloran's Piano Solos. If you don't know about the composer and are into minimalist compositions, head on to <a href="https://play.spotify.com/artist/6UEYawMcp2M4JFoXVOtZEq">Spotify</a>.
    </span>
</footer>
